:root {
    /* --Blu2Dark: rgb(52, 126, 197); */

    --Blu1LIGHT: rgb(112, 176, 236);
    --Blu2Dark: rgb(2, 57, 121);
    --Blu3Darker: rgb(2, 57, 121);

    --White1LIGHT: rgb(255, 255, 255);
    --White2DARK: rgb(217, 217, 217);
    --White3DARKER: rgb(190, 190, 190);
    
    --Green0Darker: rgb(52, 197, 185);
    --Green1Dark: rgb(52, 197, 137);
    --Green2Mid: rgb(52, 197, 52);
    --Green3Light: rgb(52, 230, 25);

}

body, h1, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.list{
    margin: 0;
}

/* Header styles */
header {
    background-color: var(--Blu1LIGHT);
    padding: 10px;
    position: fixed; /* Locks the header to the top of the viewport */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80; /* Ensures the header is on top of other content */
}

#loginIMG{
    filter: none;
    width: 50vw;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 25vw;
    left: 25%;
}

#LoginH1{
    text-justify: center;
    text-align: center;
    position: relative;
}

.loginForm .defaultBtn{
    width: 79.5vw;
}

.loginForm .defaultIcon{
    margin-left: 0.25rem;
}

#BottomNavbar{
    width: 100vw;
    height: 4rem;
    color: var(--Blu2Dark);
    background-color: var(--Blu1LIGHT);
    z-index: 100;
    bottom: 0;
    position: fixed;
    display: flex;
    padding-bottom: 1rem;
    border-top-style: solid;
    border-top: 0.25rem solid;
    border-top-color: var(--Blu2Dark);
}

#BottomNavbar a, #BottomNavbar h2{
    color: var(--Blu2Dark);
    text-decoration: none;
    display: flex;
    margin-bottom: 0.25rem;
    padding-bottom: 1rem;
}

#BottomNavbar h2{
    margin-left: 11.25vw;
    width: 33vw;
}

#BottomNavbar img{
    width: 3rem;
    height: 3rem;
}

#sidebar{
    position: fixed;
    padding-top: 4em;
    background-color: var(--Blu1LIGHT);
    width: 16em;
    height: 100vh;
    text-align: right;
}

#sidebar a, #sidebar h2{
    color: var(--Blu2Dark);
    text-decoration: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: right;
}

#sidebar img{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

#sidebar .WIDESCREEN_scrollToTop{
    color: var(--Blu2Dark);
    text-decoration: none;
    display: block;
    justify-content: right;
    font-size: x-large;
    font-weight: bold;
    border-style: none;
    border-color: var(--Blu2Dark);
    border-width: 5px;
    background-color: var(--Blu1LIGHT);
    border-radius: 30px;
    margin: 0.3rem;
    padding: 1.5rem;
    margin-top: 31vh;
}

#sidebar .WIDESCREEN_scrollToTop h3{
    margin-bottom: -0.25rem;
}

.userList{
    display: flex;
    border-radius: 3rem;
    border-width: 0.2rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    min-height: 3rem;
    max-width: 90vw;
    color: var(--Blu3Darker);
}

#userDetails{
    display: flex;
    margin-top: 0.25rem;
}

.EditNDeleteUserBtns{
    position:absolute;
    right:10%;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
}

.EditNDeleteUserBtn{
    background-color: var(--Blu1LIGHT);
    border-color: var(--Blu1LIGHT);
    border-width: 0px;
}

.manager{
    background-color: var(--Green1Dark);    
}

.supervisor{
    background-color: var(--Green0Darker);    
}

.employee{
    background-color: var(--Blu1LIGHT);    
}

#userMenuBtnText{
    display: none;
}

.userAccountDetails button{
    margin-left: 0;
    width: 85vw;
}

.defaultIcon{
    width: 2rem;
    margin-bottom: 0.2rem;
    color: var(--Blu3Darker);
}

.defaultBtn{
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;    
    font-size: medium;
    margin: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.25rem;
    padding-right: 0.75rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--Blu3Darker);
    min-height: 3.5rem;
    height: fit-content;
}

.detailsCrudBtns{
    display: flex;
    width: 95vw;
}

.detailsCrudBtns button{
    min-width: 30vw;
}

#exportPDFBtn{
    width: 85vw;
}

.defaultBtn a{
    margin: 0.5rem;
}

.defaultBtn .defaultIcon{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.szh-accordion__item-btn{
    background: var(--White2DARK) url("/src/imgs/Chevron.png") 0.75rem 1rem no-repeat;
    background-size: 3rem;
    background-position: 32.5vw 0.5rem;
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    padding: 0.8125rem;
    padding-left: 3.25rem;
    padding-top: 3rem;
    width: 80vw;
}

.progress-bar-BG{
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;    
    font-size: medium;
    margin: 1rem;
    padding: 0.75rem;
    padding-bottom: 1rem;
    width: 39vw;
    margin-left: 0;
}

.progressBooleanContainer{
    width: 74vw;
    min-height: 5rem;
    border-width: 10px;
    border-radius: 2rem;
    background-color: var(--White2DARK);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-color: var(--White2DARK);
}

.progressBooleanContainer img{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
}

.progressBooleanValueContainer{
    padding-right: 0.5rem;
}

#recorded{
    border-color: var(--Green0Darker);
}

#reported{
    border-color: var(--Green1Dark);
}

#collected{
    border-color: var(--Green2Mid);
}

#resolved{
    border-color: var(--Green3Light);
}

.progressBooleanValues{
    float: right;
    right: 10%;
    margin-top: -3rem;
    color: var(--Blu2Dark);
}


.defaultBtn .defaultIcon{
    margin-bottom: -0.65rem;
    padding-bottom: -0.5rem;
}

.reportDetailValueh3{
    float: right;
    justify-content: right;
    align-items: right;
    justify-items: right;
    text-align: right;
    margin-top: -2.75rem;
    margin-right: 2vw;
}

#saveNewUser{
    width: 80vw;
}

.progress-bar-container{
    float: right;
    margin-right: 2vw;
    margin-top: -11rem;
    margin-left: 80vw;
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;  
    padding: 0.75rem;
    padding-bottom: 1rem;
    height: 17vh;

    background-color: var(--Blu1LIGHT);
    border-radius: 35px;
    padding: 0.75rem;
    padding-bottom: 1rem;
    margin-right: 2vw;
}

.progress-bar{
    border-width: 0px;
    background-color: var(--Blu2Dark);
    border-radius: 35px;
    padding: 0.5rem;
}

.progress-bar-top{
    border-width: 0px;
    background-color: var(--Blu2Dark);
    border-radius: 35px;
    font-size: medium;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: aqua;
    
    background-color: var(--Blu2Dark);
    border-radius: 35px;
    font-size: medium;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: aqua;
    margin-left: 0;
    display: flex;
    width: 82vw;
}

.progressBoolRecorded, .progressBoolReported, .progressBoolCollected, .progressBoolResolved{
    border-width: 0px;
    border-radius: 35px;
    width: 15.5vw;
    padding: 0.5rem;
}  

.progressBoolRecorded{
    background-color: var(--Green0Darker);
}

.progressBoolReported{
    background-color: var(--Green1Dark);
}

.progressBoolCollected{
    background-color: var(--Green2Mid);
}

.progressBoolResolved{
    background-color: var(--Green3Light);
}

.progressBarTopHome{
    border-width: 0.2rem;
    margin-bottom: 0.5rem;
    border-color: var(--Blu2Dark);
    background-color: var(--Blu2Dark);
    border-style: solid;
    border-radius: 35px;
    padding: 0.5rem;
    display: flex;
    width: fit-content;
    margin-left: -7.5rem;
}

#progressBarTopDetails{
    margin-left: 0;    
}


.progressBoolRecordedHome, .progressBoolReportedHome, .progressBoolCollectedHome, .progressBoolResolvedHome, .progressBoolHomeBlank{
    border-width: 0px;
    width: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.progressBoolHomeBlank{
    background-color: var(--White3DARKER);
}

.progressBoolRecordedHome{
    background-color: var(--Green0Darker);
}

.progressBoolReportedHome{
    background-color: var(--Green1Dark);
}

.progressBoolCollectedHome{
    background-color: var(--Green2Mid);
}

.progressBoolResolvedHome{
    background-color: var(--Green3Light);
}

.progressRecordedIMG{
    width: 1.5rem;
    height: 1.5rem;
    margin: -0.2rem;
    margin-bottom : -0.4rem;
    right: 0px;
    margin-left: 8vw;
}

.progress-bar-BG{
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;    
    font-size: medium;
    margin: 1rem;
    padding: 0.75rem;
    padding-bottom: 1rem;
    width: 90vw;
    margin-left: 0;
    margin-top: -0.85rem;
    display: block;
}

.defaultBtn a{
    text-decoration: none;
    font-weight: bold;
    color: var(--Blu3Darker);
}

#Drive-OffsH1, #Drive-OffH2{
    color: var(--Blu2Dark);
}

.tags{
    background-color: var(--White2DARK);
    padding: 0.5rem;
    padding-bottom: 0.75rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--Blu3Darker);
    font-weight: 900;
}

.tags button{    
    border-color: var(--Blu2Dark);
    border-width: 5px;
    background-color: var(--Blu1LIGHT);
    font-size: small;
    margin: 0.5rem;
    margin-right: 0;
}

.searchBar {
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
}

.searchBar img{
    width: 2rem;
}

.searchBar input {
    flex: 1;
    padding: 6px;
    width: 41vw;
}

.searchBar button {
    border: none;
    max-width: 10vw;
    background-color: var(--White2DARK);
}

.searchBar h1 {
    color: var(--Blu2Dark);
    margin-left: 5vw;
}

#searchDriveOffResults, #searchNotesResults, #searchTheftResults{
    margin-left: -2.5rem;
}

#searchReportResults{
    margin-left: -0.3rem;
    list-style: none;
}

#searchInputsBar{
    height: 3.5rem;
    display: block;
}

#searchDriveOffs{
    min-width: 5rem;
    padding: 0.45rem;
    padding-left: 2.25rem;
    background: var(--White2DARK) url("/src/imgs/Search.png") 0.75rem 1rem no-repeat;
    background-size: 1.5rem 1.5rem;
    float: left;
    backdrop-filter: invert(18%) sepia(22%) saturate(5637%) hue-rotate(197deg) brightness(91%) contrast(102%);
}

#searchReportsDiv{
    display: flex;
    width: 90vw;
}

#searchReportsDiv .searchIcon{
    position: absolute;
    padding-top: 1rem;
    padding-left: 0.75rem;
    padding: -0.2rem;
    padding-bottom : -0.2rem;
    margin: 0.2rem;
    margin-left: 0.75rem;
    margin-top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

#filterSearchBtn{
    border-radius: 3rem;
    border-color: var(--Blu1LIGHT);
    background-color: var(--White2DARK);
    padding: 1.7rem;
    height: 3rem;
}

.FRPressedBtn{
    position: absolute;
    margin: -1rem;
    width: 2rem;
}

.FRThumbnailBtn{
    position: relative;
    margin: -1rem;
    width: 2rem;
}

.searchResultsBtns{
    display: flex;
    border-radius: 50px;
    margin-top: 1rem;
    background-color: var(--Blu1LIGHT);
    height: fit-content;
    padding-bottom: 0.75rem;
    width: 90vw;
}

.searchResultsBtns button{
    border: none;
    border-radius: 40px;
    width: 27vw;
    height: 10vh;
    margin-left: 2.25vw;
    position: relative;
    left: 0;
    margin-right: 0;
    margin-top: 1.25vh;
    display: block;
}

.searchResultsBtns a{
    position: absolute;
    margin-top: 1vh;
    width: 3rem;
    margin-left: -1.5rem;
}

.SRPressedBtn{
    position: absolute;
    top: 1vh;
    left: 7vw;
    width: 8rem;
    filter: none;
}

.SRThumbnailBtn{
    position: relative;
    top: 0.25rem;
    left: 1.5rem;
    width: 8rem;
    margin-right: 0;
    filter: none;
}

.searchResultsBtns img{
    width: 2.7rem;
}

#dateFilterDiv{
    display: flex;
}

#dateFilterDiv a{
    width: 1rem;
}

#fromDate, #toDate{
    width: 33vw;
    position: relative;
    margin-top: -1rem;
    height: 2.5rem;
    margin-right: 0;
    margin-left: 0;
    /* margin-right: 2vw;
    margin-left: 0;
    margin-top: -1rem;
    width: 39vw; */
    background-color: var(--White2DARK);
}

#dateFilterDiv h4{
    margin-right: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#filterDateBtn{
    margin-left: 0rem;
    width: 90vw;
    margin-bottom: 1rem;
}

#resolvedFilterBtn{
    margin-left: 0rem;
    width: 90vw;
    margin-bottom: 1rem;
    padding: 1rem;
}

#resolvedFilterBtn h5{
    font-size: medium;
    margin: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0;
    left: 12.5%;
    position: absolute;
}

#resolvedFilterBtn .switch{
    margin-right: 10vw;
    left: 40%;
}

.searchBar h1{
    color: var(--Blu2Dark);
}

#navbarContent{
    cursor: pointer;
    font-size: x-large;    
    color: var(--Blu2Dark);
    text-decoration: none;
}

#navbarContent button{
    border-color: var(--Blu2Dark);
    color: var(--Blu2Dark);
    border-width: 5px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;
    padding: 7.5px 15px;
}

.driveOffCard {
    text-align: left;
    border-radius: 1rem;
}

.contentDetailsCard{
    display: flex;
    text-decoration: none;
    color: var(--White1LIGHT);
}

.cardContent{
    display: flex;
    width: 55vw;
}

.cardDetails{
    width: 40vw;
}

.reportTimestamp{
    text-align: right;
    float: right;
    margin-right: 1rem;
}

.contentCardIMGs{
    position: relative;
    top: 0;
    left: 0;
    width: 8rem;
    margin-right: 0;
}

.contentCardIMG{    
    position: relative;
    top: 0;
    left: 0;
    width: 8rem;
    margin-right: 0;
    filter: none;
}

.PAIDOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8rem;
    filter: none;
}

.driveoff{
    padding: 0.5rem;
    margin-top: 0;
}

.formDisplayDetails{
    overflow-wrap: break-word;
    width: 40vw;
    min-width: 22.5rem;
}

.driveoff button{
    width: 90vw;
    background-color: var(--Blu1LIGHT);
    border-style: hidden;
}

.stolenItem{
    margin-bottom: 1rem;
}

.associated-item{
    margin-bottom: 1rem;
    margin-left: -7rem;
}

.associated-itemHOME{
    margin-bottom: 1.5rem;
    margin-left: -7rem;
}

.newReportBtn{
    width: 3.725rem;
    border-color: var(--Blu3Darker);
    color: var(--Blu3Darker);
    border-width: 5px;
    background-color: var(--Green1Dark);
    border-radius: 50rem;
    z-index: 50;
    position: fixed;
    display: block;
    right: 2rem;
    bottom: 3.25vh;
    margin-bottom: 5rem;
}

.scrollToTop{
    border-color: var(--Blu2Dark);
    color: var(--Blu3Darker);
    border-width: 5px;
    background-color: var(--Blu1LIGHT);
    border-radius: 10rem;
    z-index: 50;
    position: fixed;
    display: block;
    left: 2rem;
    bottom: 3.25vh;
    margin-bottom: 5rem;
}

.newReportIcon{
    width: 2rem;
    margin-top: -1rem;
    margin-bottom: -0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    filter: none;
}

.newReportBtn img{
    width: 4rem;
    height: 4rem;
}

.scrollToTop img{
    width: 2.5rem;
    height: 3rem;
}

.newReportBtns{
    text-align: right;
    z-index: 100;
    right: 25%;
    bottom: 3.25vh;
    margin-bottom: 5rem;
    position: fixed;
}

.newReportBtns button{
    border-color: var(--Blu2Dark);
    border-width: 5px;
    background-color: var(--Blu1LIGHT);
    border-radius: 35px;    
    font-size: small;
}

.newReportBtnInd{
    top:10rem;
}

.newReportBtnInd a, #newReportBtnH3, .newReportBtns a{    
    color: var(--Blu3Darker);
    text-decoration: none;
    font-size: large;
    margin-right: 0.5rem;
    margin-bottom: -0.5rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}

.deleteModalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}

#deleteUserModalOverlay{
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.deleteModal{
    width: 70vw;
    background-color: var(--Blu1LIGHT);
    padding: 2rem;
    border-radius: 50px;
    display: block;
}

.deleteModal h1{
    text-justify: center;
    text-align: center;
    position: relative;
    color: var(--Blu3Darker);
    margin-bottom: 1rem;
}

#deleteModalBtns{
    margin-left: -1rem;
}

#deleteModalBtns .defaultBtn{
    min-width: 35vw;
    max-width: 40vw;
    margin: 0.25rem;
    border-radius: 50px;
    border-width: 0.5rem;
    border-color: var(--Blu3Darker);
}

#closeOverlayBtn{
    padding: none;
    margin: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 2rem;
    height: 2rem;
}

#WIDESCREEN_overlay{
    display: none;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
}

/* #newReportBtnH3{
    font-size: xx-small;
    display: none;
} */

.driveOffs input{
    border-color: var(--Blu1LIGHT);
    font-size: larger;
    border-radius: 35px;
    padding: 7.5px 15px;
    width: 75vw;
    width: 90vw;
    height: 2.5rem;
}

.WIDESCREEN_newReportBtns{
    display: none;
}

.WIDESCREEN_scrollToTop{
    display: none;
}

.form input{
    border: none;
    background-color: var(--White2DARK);
    font-size: large;
    margin: 0.3rem;
    width: 82vw;
    min-width: 4rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.formDetails{
    border: none;
    background-color: var(--White2DARK);
    font-size: large;
    margin: 0.3rem;
    width: 85vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
}

#timeInput{
    display: flex;
}

#dateInput{
    margin: 0.3rem;
    height: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#timeIndicator{
    margin-left: 1vw;
}

.costInput{
    max-width: 80vw;
}

#progressFields{
    display: flex;
    width: 90vw;
    font-size: medium;
    margin-top: 0.5rem;
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 15px;
    font-size: medium;
    padding: 0.5rem;
}

#progressFields p{
    width: 70vw;
}

#progressFields input{
    height: 1rem;
    color: var(--Blu2Dark);
    border-width: 10rem;
    border-color: var(--Blu2Dark);
    border-radius: 10rem;
    position: absolute;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.125rem;
    margin-left: 1vw;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    width: 4rem;
}

.sliderRound{
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--White3DARKER);
}

.sliderRound:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 4px;
    bottom: 4px;
    background-color: var(--White1LIGHT);
    z-index: 40;
}

input:checked + .sliderRound:before {
  -webkit-transform: translateX(1.875rem);
  -ms-transform: translateX(1.875rem);
  transform: translateX(1.6rem);
}

input:checked + #recordedSlider {
    background-color: var(--Green0Darker);
}

input:checked + #reportedSlider {
    background-color: var(--Green1Dark);
}

input:checked + #collectedSlider {
    background-color: var(--Green2Mid);
}

input:checked + #resolvedSlider {
    background-color: var(--Green3Light);
}

.sliderRound .progressRecordedIMG{
    width: 1.45rem;
    height: 1.45rem;
    margin: -0.2rem;
    margin-bottom : -0.4rem;
    right: 0px;
    margin-right: 1.55rem;
    margin-top: 0.35rem;
}

#gardaNameInput{
    height: 2.5rem;
    width: 82vw;
    margin-top: 1rem;
}

#staffDetails{
    display: block;
}

#ManagerODBox{
    display: flex;
    width: 90vw;
    font-size: medium;
    margin-top: 0.5rem;
    border-width: 0px;
    background-color: var(--Blu1LIGHT);
    border-radius: 15px;
    font-size: medium;
    padding: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.addedItems{
    margin-left: -2.25rem;
}

#pdfRef{
    background-color: '#f5f5f5';
    width: 210mm;
    min-width: 50rem;
    margin-left: 1rem;
    display: flex;
    font-size: x-large;
}

.pdfTop{
    display: flex;
    min-width: 580px;
}

.pdfBottom{
    margin: 1rem;
    margin-right: 1rem;
    overflow-wrap: break-word;
}

#pdfRight{
    align-items: right;
    text-align: right;
    margin-top: 6rem;
    right: 3%;
    width: 330px;
}

#pdfLeft{
    margin-left: 1rem; 
    margin-top: 1rem;
    width: 240px;
}

.pdfTop h1, .pdfBottom h1{
    text-decoration: underline;
    font-size: xx-large;
}

.pdfTop h2, .pdfBottom h2{
    font-size: x-large;
}

.pdfTop h3, .pdfBottom h3{
    font-size: large;
}

.pdfTop h4, .pdfBottom h4, .pdfTop h5, .pdfBottom h5{
    font-size: medium;
}

/* Main content styles */
main {
    margin-top: 50px; /* Ensure the main content is below the locked header */
    padding: 20px;
}

article {
    padding: 1rem;
    padding-top: 2.25rem;
    padding-bottom: 5rem;
}

header{
    min-width: 100vw;
}

img{
    filter: invert(18%) sepia(22%) saturate(5637%) hue-rotate(197deg) brightness(91%) contrast(102%);
}


/*     --     --     --     Larger Screens     --     --       --      */

/*     --     --     --     |  >   960px   |     --     --       --      */

@media screen and (min-width: 60em){
    article {
        display: flex;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #BottomNavbar{
        display: none;
    }

    #LoginH1{
        font-size: xx-large;
    }

    #loginIMG{
        width: 20vw;
        max-width: 30rem;
        margin-left: 3vw;

    }

    .loginForm{
        margin-left: 10vw;
        margin-bottom: 1rem;
        max-width: 24vw;
    }

    .loginForm #ManagerODBox, .loginForm input, .loginForm .defaultBtn{
        margin-bottom: 1rem;
        max-width: 24vw;
    }

    .loginForm #ManagerODBox{
        max-width: 26vw;
    }

    .searchBar{
        padding-left: 25vw;
        width: 41vw;
    }

    .searchBar h1 {
        margin-left: 2vw;
    }

    .searchResultsBtns{
        width: 40vw;
    }

    #searchReportsDiv{
        width: 40vw;
        margin-right: 25vw;
    }

    input:checked + .sliderRound:before {
      transform: translateX(1.875rem);
    }

    .progressRecordedIMG{
        margin-left: 4vw;
    }

    #dateFilterDiv{
        max-width: 40vw;
    }

    #fromDate, #toDate{
        width: 19vw;
    }

    #dateFilterDiv h4{
        margin-top: 0.5rem;
    }

    #filterDateBtn, #resolvedFilterBtn{
        width: 40vw;
        display: block;
    }

    #resolvedFilterBtn h5{
        left: 0;
        width: 15rem;
        position: relative;
        bottom: 0;
        margin-bottom: -1.5rem;
    }
    
    #resolvedFilterBtn .switch{
        margin-right: 10vw;
        left: 30%;
        top: 0;
    }

    #searchDriveOffs{
        width: 40vw;
        background: var(--White2DARK) url("/src/imgs/Search.png") 0.5rem 0.65rem no-repeat;
        background-size: 1.5rem 1.5rem;
        float: left;
    }

    #filterSearchBtn{
        border-radius: 3rem;
        padding: 1rem;
        height: 3rem;
        width: 3rem;
    }
    
    .FRPressedBtn{
        width: 1.5rem;
        margin-top: -0.7rem;
        margin-left: -0.4rem;
    }
    
    .FRThumbnailBtn{
        width: 1.5rem;
        margin-top: -0.7rem;
        margin-left: -0.4rem;
    }

    .searchResultsBtns button{
        width: 12vw;
        /* max-width: 13vw; */
        height: 8vh;
        margin-left: 1vw;
        left: 0;
        margin-right: 0;
        margin-top: 1.5vh;
    }

    .searchResultsBtns a{
        display: block;
        margin-left: 1rem;
        margin-top: -0.75rem;
        width: fit-content;
        font-size: medium;
        font-weight: 999;    
        color: var(--Blu1LIGHT);
    }
    
    .SRPressedBtn{
        top: 1vh;
        left: 8vw;
    }
    
    .SRThumbnailBtn{
        top: 0vh;
        left: 5vw;
    }

    #sidebar{
        width: 25vw;
        background-color: var(--White1LIGHT);
        margin-top: 3vh;
        display: block;
    }

    #sidebar img{
        width: 3rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: -0.75rem;
    }

    #navbarContent{
        width: 40vw;
        background-color: var(--Blu1LIGHT);
        display: none;
        border-color: var(--Blu2Dark);
    }   

    #navbarContent button{
        display: none;
    }

    .driveOff{        
        padding-left: 25vw;
    }

    .driveoff button{
        width: 40vw;
    }

    .driveOffs{
        padding-left: 25vw;
    }

    #Drive-OffsH1{
        padding-left: 25vw;
    }

    .driveOffs #Drive-OffsH1{
        padding-left: 0;
    }
    
    .newReportBtn{
        margin-left: 70vw;
        margin-top: 15vw;
        padding: 7.5px 10px;
        display: none;
    }
    
    #newReportBtnH3{        
        display: block;
        font-size: x-large;
        width: 20rem;
        color: var(--Blu3Darker);
        text-decoration: none;
    }

    #newReportBtnH3 h3{
        color: var(--Blu3Darker);
        text-decoration: none;
    }

    .newReportBtns{
        text-align: right;
        margin-right: 10vw;
        margin-top: 30vh;
        display: block;        
        color: var(--Blu2Dark);
        text-decoration: none;
    }

    .newReportBtns button{
        border-radius: 35px;
        padding: 7.5px 15px;
        font-size: xx-large;
    }

    #overlay{
        display: none;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
    }

    #WIDESCREEN_overlay{        
        position: fixed;
        display: block;
        align-items: right;
        justify-content: right;
        z-index: 40;
        margin-top: -4rem;
    }

    .WIDESCREEN_newReportBtn{
        z-index: 90;
        margin: 1rem;
        margin-top: 50vh;
        display: block;
        min-width: 10vw;
        max-width: 30vw;
        position: fixed;
        margin-left: 67vw;
    }

    .WIDESCREEN_newRptContent{
        display: flex;
        color: var(--Blu2Dark);
        text-decoration: none;
    }

    .WIDESCREEN_newRptContent img{
        width: 5rem;
        margin-left: 0.5rem;
        filter: none;
    }

    .WIDESCREEN_newRptContent .newUserBtn{
        filter: invert(18%) sepia(22%) saturate(5637%) hue-rotate(197deg) brightness(91%) contrast(102%);
    }

    .WIDESCREEN_newReportBtns{
        z-index: 90;
        margin: 1rem;
        margin-top: 40vh;
        padding: 1rem;
        display: block;
        min-width: 10vw;
        max-width: 30vw;
        position: fixed;
        margin-left: 67vw;
        border-color: var(--Blu2Dark);
        border-width: 5px;
        background-color: var(--Blu1LIGHT);
        border-radius: 30px;
        font-size: x-large;
        text-align: center;
        font-weight: bold;
        color: var(--Blu2Dark);
    }

    .WIDESCREEN_scrollToTop{
        display: block;
        margin-top: 70vh;
    }

    .WIDESCREEN_newReportBtns button{
        border-color: var(--Blu2Dark);
        border-width: 5px;
        background-color: var(--Blu1LIGHT);
        border-radius: 30px;
        font-size: small;
        margin: 0.3rem;
    }

    .WIDESCREEN_scrollToTop button{
        border-color: var(--Blu2Dark);
        border-width: 5px;
        background-color: var(--Blu1LIGHT);
        border-radius: 30px;
        font-size: small;
        margin: 0.3rem;
    }

    .scrollToTop{
        display: none;
    }

    .WIDESCREEN_newReportBtn button{
        border-color: var(--Blu2Dark);
        border-width: 5px;
        background-color: var(--Blu1LIGHT);
        border-radius: 30px;
        font-size: xx-large;
        margin: 0.3rem;
    }

    .WIDESCREEN_newRptContent{
        display: flex;
        width: 25vw;
    }

    .WIDESCREEN_newRptContent img{
        width: 5rem;
        margin-left: 0.5rem;
    }

    #searchReportResults{
        width: 40vw;
    }

    .cardContent{
        display: flex;
        width: 50vw;
    }

    .reportTimestamp{
        display: block;
        margin-right: 27vw;
        width: 10rem;
        min-width: 5rem;
    }
    
    .cardDetails{
        width: 23vw;
    }

    .detailsCrudBtns{
        display: flex;
        width: 38vw;
    }

    .detailsCrudBtns button{
        min-width: 17.9vw;
    }

    .deleteModal{
        width: 40vw;
        margin-left: -10vw;
    }
    
    #deleteModalBtns .defaultBtn{
        min-width: 20vw;
        max-width: none;
    }

    #exportPDFBtn{
        width: 39vw;
    }
    
    .userList{
        width: 38vw;
    }

    .userAccountDetails{
        display: flex;
    }

    .userAccountDetails button{
        width: 25vw;
        margin-left: 7vw;
    }

    .EditNDeleteUserBtns{
        display: flex;
        right:36%;
        max-width: 23vw;
    }

    .EditNDeleteUserBtn, .EditNDeleteUserBtn a{
        margin-left: 1rem;
        margin-right: 0.3rem;
        display: flex;
        text-decoration: none;
    }

    .EditNDeleteUserBtn img{
        margin-bottom: -0.5rem;
    }

    #userMenuBtnText{
        margin-top: 0.6rem;
        display: block;
        font-size: medium;
        text-decoration: none;
        font-weight: bold;
        color: var(--Blu3Darker);
    }

    .szh-accordion__item-btn{
        width: fit-content;
        background-position: 7.75vw;
        padding-left: 20vw;
    }

    .progressBooleanContainer{
        margin-left: 0.5vw;
        width: fit-content;
        min-width: 34vw;
        max-width: 40vw;
        margin-right: 0;
    }

    .reportDetailValueh3{
        margin-right: 3vw;
    }

    .progress-bar-container{
        margin-right: 2vw;
        margin-left: 10vw;
    }

    .progress-bar-top{
        max-width: 40vw;
    }

    .progress-bar-BG{
        width: 39vw;
    }

    .progressBoolRecorded, .progressBoolReported, .progressBoolCollected, .progressBoolResolved{
        min-width: 6.5vw;
        max-width: 9vw;
    }

    .progressBoolRecordedHome, .progressBoolReportedHome, .progressBoolCollectedHome, .progressBoolResolvedHome, .progressBoolHomeBlank{
        width: 5vw;
    }

    .progressBarTopHome{
        width: fit-content;
        margin-right: 9.5rem;
    }

    #progressFields{
        width: 46vw;
    }

    #progressFields p{
        width: 20vw;
        padding-bottom: 0.5rem;
    }
    
    #progressFields input{
        margin-left: 15vw;
    }

    .switch {
        margin-left: 20vw;
    }

    .form{
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .form input{
        width: 44.25vw;
    }

    .formDetails{
        width: 45vw;
    }
    

    .costInput{
        max-width: 44vw;
        height: 1.75rem;
    }

    #ManagerODBox{
        width: 46vw;
    }

    .driveOffs input{
        width: 38.5vw;
        height: 1.75rem;
        padding: 0.25rem;
    }

    #dateInput{
        width: 44vw;
        height: 1.75rem;
    }

    #gardaNameInput{
        width: 45vw;
        height: 1.75rem;
        margin-top: 1rem;
    }
    
    
    #timeIndicator{
        margin-left: 15.5vw;
    }
}